@page
@model BrioWebsite.Pages.Index1Model
@{
    ViewData["Title"] = "About";
}

<style>
    #doctorSection{
        padding-top:80px;
        display:grid;
        grid-template-rows: 100px auto;
        font-family: roca one;
        background-color: #fff6ec;
    }
    #aboutSection{
        padding: 20px 200px;
        display:grid;
        grid-template-columns: auto;
        background-color: #fff6ec;
    }
    .body-container{
        min-height: 100vh;
    }
    .card-section{
        height: 100%;
    }
    .text-section{
        color:#16603b;
    }
    .text-section p {
        font-family: montserrat;
        padding: 10px 15vw;
    }
    .card-list{
        justify-content: top;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto auto;
        height: 100%;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 0;
        background-color: #fff6ec;
        color: #301607;
        padding: 0 20px;
    }
    .green-button {
        display: inline-block;
        padding: 10px 15px;
        background-color: transparent;
        border: solid 3px;
        cursor: pointer;
        color:#16603b;
        border-color:#16603b;
        font-family: montserrat;
    }
    .card ul{
        font-family: montserrat;
        text-align: center;
        width: 100%;
    }
    .card-title{
        margin: 0;
        color: #16603b;
        font-weight: 500;
    }
    .card-subtitle{
        margin: 0;
        color: #16603b;
        font-weight: 100;
    }
    .card-content-list {
        margin: auto auto 5vh auto;
        padding: 0;
        list-style-type: none;
        text-align: center;
        width: 100%;
    }
    .doctor_picture{
        height: 75vw;
        max-height: 55vh;
        border-radius: 100%;
        justify-content: top;
        padding: 10px 0;
    }
    .about-img{
        width:90%;
        max-width: 1200px;
        border-radius: 5vw;
        margin: 20px auto;
    }
    .about-text{
        text-align: left;
        font-family: montserrat;
        color: #301607;
    }
    .about-text h1{
        text-align: center;
        font-family: roca one;
        color: #16603b;
        margin: 0 0 20px 0;
    }
    @@media (max-width: 1200px) {
        .card-list{
            grid-template-columns: auto;
        }
        .card-section{
            height: auto;
        }
        #aboutSection{
            padding: 20px 100px;
        }
    }

    @@media (max-width: 992px) {
        #aboutSection {
            padding: 20px;
        }
    }
</style>

<div id="doctorSection" class="body-container">
    <div class = "text-section">
        <h1 class = "large-text">Get to Know Us</h1>
    </div>
    <div class = "card-section">
        <ul class = "card-list">
            <li class = "card">
                <img lazyLoad class="doctor_picture" src="~/Images/dr-mindi-headshot-chiropractor.webp" alt="Headshot of Dr. Mindi Miller-Jentes, a chiropractor at Brio Wellness Center specializing in holistic care" title="Dr. Mindi Miller-Jentes headshot - Holistic chiropractor" />
                <div class = "card-title small-text">Dr. Mindi Jentes</div>
                <div class = "card-subtitle smaller-text">Doctor of Chiropractic</div>
                <ul class = "card-content-list">
                    <li class="smaller-text">Advanced Proficiency Rated in <b>Activator Methods</b> Chiropractic Technique</li>
                    <li class = "smaller-text">Certified Breast Thermography Physician & Technician (WABT-BTP, WABT-BTT)</li>
                    <li class = "smaller-text">Graduated with B.A. in Opera Performance from Grace College</li>
                    <li class = "smaller-text">Graduated with her D.C. from The Southern California University of Health Sciences</li>
                </ul>
            </li>
            <li class = "card">
                <img lazyLoad class="doctor_picture" src="~/Images/dr-kayla-headshot-chiropractor.webp" alt="Headshot of Dr. Kayla Jentes-Sagester, chiropractor at Brio Wellness Center focusing on holistic and family chiropractic care" title="Dr. Kayla Jentes-Sagester headshot - Holistic chiropractor" />
                <div class = "card-title small-text">Dr. Kayla Sagester</div>
                <div class = "card-subtitle smaller-text">Doctor of Chiropractic</div>
                <ul class = "card-content-list">
                    <li class="smaller-text">Advanced Proficiency Rated in <b>Activator Methods</b> Chiropractic Technique</li>
                    <li class = "smaller-text">Certified Breast Thermography Technician (WABT-BTT)</li>
                    <li class = "smaller-text">Graduated with B.S. in Health Science from Grace College</li>
                    <li class = "smaller-text">Graduated with her D.C. from The Southern California University of Health Sciences</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="aboutSection" class="body-container">
    <img lazyLoad class="about-img" src="~/Images/brio-wellness-center-team-photo.webp" alt="Group photo of the Brio Wellness Center team, including Dr. Mindi Miller-Jentes and Dr. Kayla Jentes-Sagester, specializing in holistic chiropractic care and wellness" title="Brio Wellness Center team photo - Holistic chiropractic care specialists">
    <div class = "about-text">
        <h1 class = "small-text">Get to know our story</h1>

        <p class ="smaller-text">Brio Wellness Center, a <em>woman-owned</em> holistic chiropractic wellness clinic since 2014, serves the <b>Johnston County</b> communities from Selma, NC, with a satellite location in <b>North Raleigh</b>. Led by <em>Dr. Mindi Miller-Jentes</em> and <em>Dr. Kayla Jentes-Sagester</em>, our focus is on <em>gentle chiropractic care</em> tailored to each patient’s unique needs, blending <b>natural remedies</b>, <b>nutrition</b>, and <b>supplements</b> into everyday wellness.</p>

        <p class ="smaller-text"><em>Dr. Mindi</em> began her journey into chiropractic care after healing from chronic migraines and joint pain. This transformative experience led her to earn her Doctorate and open Brio Wellness Center in California before relocating to North Carolina. She is also a published <em>artist</em>, <em>author</em>, and <em>motorcycle enthusiast</em>.</p>

        <p class ="smaller-text"><em>Dr. Kayla</em>, inspired by her mother’s recovery, received her first chiropractic adjustment at age 6. Her love for <em>science</em> and the <em>chiropractic lifestyle</em> motivated her to follow in her mother’s footsteps, focusing on <em>holistic health</em> and <em>spine wellness</em>. In May 2022, she opened Brio Wellness Center in Selma.</p>

        <p class="smaller-text">As the practice grew, Brio Wellness Center expanded to a larger historic location and launched a satellite chiropractic clinic in <b>North Raleigh</b> in 2024. Together, <em>Dr. Mindi</em> and <em>Dr. Kayla</em> are committed to helping patients achieve recovery and wellness through <b>chiropractic alignment</b>, <b>spinal health</b>, and <b>alternative medicine</b>.</p>

    </div>

</div>