@page
@model BrioWebsite.Pages.Index1Model
@{
}

<style>
    .card{
    }

</style>

<div id="mainPage" class="body-container">
    <div>
        <ul class = "mainPage">
            <li>
                <p class="large-text">Live the life you<br/>DESIRE and DESERVE</p>
            </li>
            <li>
                <hr class="horizontal-line">
            </li>
            <li>
                <div class="small-text">Chiropractic & Nutrition</div>
            </li>
            <li><button class="white-button "><div class="smaller-text">Book Now</div></button></li>
        </ul>
    </div>
</div>