@page
@model BrioWebsite.Pages.Index1Model
@{
    ViewData["Title"] = "About";
}

<style>
    #doctorSection{
        padding-top:80px;
        display:grid;
        grid-template-rows: 100px auto;
        font-family: roca one;
        background-color: #fff6ec;
    }
    #aboutSection{
        padding: 20px 200px;
        display:grid;
        grid-template-columns: auto;
        background-color: #fff6ec;
    }
    .body-container{
        min-height: 100vh;
    }
    .card-section{
        height: 100%;
    }
    .text-section{
        color:#16603b;
    }
    .text-section p {
        font-family: montserrat;
        padding: 10px 15vw;
    }
    .card-list{
        justify-content: top;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto auto;
        height: 100%;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 0;
        background-color: #fff6ec;
        color: #301607;
        padding: 0 20px;
    }
    .green-button {
        display: inline-block;
        padding: 10px 15px;
        background-color: transparent;
        border: solid 3px;
        cursor: pointer;
        color:#16603b;
        border-color:#16603b;
        font-family: montserrat;
    }
    .card ul{
        font-family: montserrat;
        text-align: center;
        width: 100%;
    }
    .card-title{
        margin: 0;
        color: #16603b;
        font-weight: 500;
    }
    .card-subtitle{
        margin: 0;
        color: #16603b;
        font-weight: 100;
    }
    .card-content-list {
        margin: auto auto 5vh auto;
        padding: 0;
        list-style-type: none;
        text-align: center;
        width: 100%;
    }
    .doctor_picture{
        height: 75vw;
        max-height: 55vh;
        border-radius: 100%;
        justify-content: top;
        padding: 10px 0;
    }
    .about-img{
        width:90%;
        max-width: 1200px;
        border-radius: 5vw;
        margin: 20px auto;
    }
    .about-text{
        text-align: left;
        font-family: montserrat;
        color: #301607;
    }
    .about-text h1{
        text-align: center;
        font-family: roca one;
        color: #16603b;
        margin: 0 0 20px 0;
    }
    @@media (max-width: 1200px) {
        .card-list{
            grid-template-columns: auto;
        }
        .card-section{
            height: auto;
        }
        #aboutSection{
            padding: 20px 100px;
        }
    }

    @@media (max-width: 992px) {
        #aboutSection {
            padding: 20px;
        }
    }
</style>

<div id="doctorSection" class="body-container">
    <div class = "text-section">
        <h1 class = "large-text">Get to Know Us</h1>
    </div>
    <div class = "card-section">
        <ul class = "card-list">
            <li class = "card">
                <img class = "doctor_picture" alt="dr_mindi" src="~/Images/dr_mindi_photo.png" />
                <div class = "card-title small-text">Dr. Mindi Jentes</div>
                <div class = "card-subtitle smaller-text">Doctor of Chiropractic</div>
                <ul class = "card-content-list">
                    <li class = "smaller-text">Advanced Proficiency Rated in Activator Methods Chiropractic Technique</li>
                    <li class = "smaller-text">Certified Breast Thermography Physician & Technician (WABT-BTP, WABT-BTT)</li>
                    <li class = "smaller-text">Graduated with B.A. in Opera Performance from Grace College</li>
                    <li class = "smaller-text">Graduated with her D.C. from The Southern California University of Health Sciences</li>
                </ul>
            </li>
            <li class = "card">
                <img class = "doctor_picture" alt="dr_kayla.png" src="~/Images/dr_kayla_photo.png" />
                <div class = "card-title small-text">Dr. Kayla Sagester</div>
                <div class = "card-subtitle smaller-text">Doctor of Chiropractic</div>
                <ul class = "card-content-list">
                    <li class = "smaller-text">Advanced Proficiency Rated in Activator Methods Chiropractic Technique</li>
                    <li class = "smaller-text">Certified Breast Thermography Technician (WABT-BTT)</li>
                    <li class = "smaller-text">Graduated with B.S. in Health Science from Grace College</li>
                    <li class = "smaller-text">Graduated with her D.C. from The Southern California University of Health Sciences</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="aboutSection" class="body-container">
    <img class = "about-img" src="~/Images/team - copy.jpg">
    <div class = "about-text">
        <h1 class = "small-text">Get to know our story</h1>
        <p class = "smaller-text">Brio Wellness Center has been a family-owned and operated holistic wellness clinic since 2014. Our main location is Selma, NC serving the Johnston County communities, with a satellite location in North Raleigh.</p>
        <p class = "smaller-text">Dr. Mindi Miller-Jentes and Dr. Kayla Jentes-Sagester are a mother-daughter team helping patients live the life they desire and deserve through gentle and specific holistic chiropractic care. Our approach is tailored to the individual patient and their unique needs.</p>
        <br/>
        <p class = "smaller-text">Dr. Mindi has been married to Mike Jentes for nearly 30 years. Together, they have four children and one granddaughter. She began her chiropractic journey after suffering from chronic migraines and joint pain since birth. It was because of the profound difference chiropractic made in her health that she decided to change careers to become a chiropractor. At the age of 38 with four young kids under the age of 10, she entered chiropractic school to earn her Doctorate. After graduation, she opened Brio Wellness Center in California and watched it grow to success.</p>
        <p class = "smaller-text">She is also a published watercolorist and published author. She began painting and writing as a means to process deeper emotional and physical pains that were triggered after she had a severe illness. She finds inspiration for her artwork and writing by gardening, walks in the woods, trips to the ocean, the mountains and the desert. Today, her artwork and books are helping others to find tangible ways towards healing. In addition to her love of art and books, she is also a trained opera singer (her previous career) and a motorcycle rider. She and her husband enjoy heading off on long weekend road trips with their motorcycles to the mountains, beaches, and anywhere in between. Singing while riding is her favorite kind of therapy!</p>
        <br/>
        <p class = "smaller-text">Dr. Kayla Jentes-Sagester’s chiropractic journey began when she was six years old. After her mom, Dr. Mindi, had experienced healing with chiropractic, she wanted the whole family to benefit from a chiropractic lifestyle so they could maintain their health and not have to suffer the way she had for most of her life. Dr. Kayla’s first adjustment was at the age of 6 and she has been getting regular chiropractic adjustments ever since.</p>
        <p class = "smaller-text">As a little girl, Dr. Kayla quickly fell in love with science and how everything works. Her inquisitive mind fell in love with learning all she could about how the body works while staying up at night to help her mom study for tests. She even attended classes with her mom whenever she had a day off from middle school or high school. As her love for the human body and holistic healthcare increased, Dr. Kayla decided she too wanted to become a chiropractor. She also enjoys music. Dr. Kayla is an accomplished brass player. While her primary instrument is trumpet, she especially loves playing low brass. She played trumpet and baritone in marching, orchestra and concert bands, while playing trumpet in jazz bands. Her favorite style of music to play is orchestral music. She also enjoys reading, writing, baking, exploring everything there is to know about bourbon and wood working. She and her husband, Zach enjoy regular trips to Disney World and especially anything to do with Star Wars.</p>
        <br/>
        <p class = "smaller-text">In 2019, Dr. Mindi closed Brio Wellness Center in California to move to Raleigh, North Carolina to work with patients in another practice. Meanwhile, Dr. Kayla finished chiropractic school and started Brio Wellness Center in Selma, NC on May 4, 2022– quite the fitting day for Star Wars fans! (“May the fourth be with you!”) The practice grew rapidly and they quickly outgrew their little office on Anderson Street. Just one year later, BWC purchased a 100 year old historic home at 805 N Pollock St to relocate the practice so they could see more patients and expand their services. In April of 2024, the need was so great for Dr. Mindi to see former patients and new referrals in Raleigh, Brio Wellness Center decided it was time to open a mobile/satellite clinic in North Raleigh. Dr. Mindi currently sees patients one day each week inside Triangle Trigger Point Therapy on Six Forks Road in addition to treating patients in our Selma location.</p>
        <p class = "smaller-text">Together, Dr. Mindi and Dr. Kayla have been passionately serving the community with holistic care from the inside out– physically, mentally, emotionally and spiritually. Their goal has always been and always will be to help patients and their community live the life they desire and deserve.</p>
    </div>

</div>