@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    }
<style>
    :root {
        --main-bg-color: rgba(255,165,50,.2);
        --green-color: #16603b;
        --white-color: #ffffff;
    }

    #mainPage {
        background-image: url('Images/chiropractic-doctor-dr-kayla-adjusting-child-knee-activator.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px var(--main-bg-color);
    }

    .text {
        font-family: montserrat;
        color: #301607;
    }

    .logo, .text-box {
        width: 100px;
        margin: 0;
    }

    .green {
        color: var(--green-color);
    }

    #mainPage{
        color: var(--white-color);
    }

    .text-box {
        font-family: Montserrat;
    }

    .horizontal-line {
        border-top: 5px solid var(--white-color);
        margin: 10px;
        opacity: 1;
        width: 700px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        padding: 0 7%;
        height: calc(100vh - 60px);
    }

    .grid-item {
        justify-content: center;
        align-content: center;
        padding: 0 2vw;
    }

    .grid-item > img {
        height: min(75vh,30vw*2);
        width: min(auto,25vw);
        justify-content: left;
        align-content: center;
    }

    ul.mainPage > li, li {
        justify-content: center;
        align-content: center;
        display: flex;
    }

    ul.mainPage > li > a{
            margin-top: 50px;
    }

    ul {
        padding: 0;
        margin: 0;
        padding: 0 10px;
    }

    @@media (max-width: 2000px), (max-width: 1700px) {
        .grid {
            padding: 0 5%;
        }
    }

    @@media (max-width: 1200px) {
        .horizontal-line {
            width: 600px;
        }
        .grid {
            padding: 0 3%;
        }
    }

    @@media (max-width: 992px) {
        .horizontal-line {
            width: 500px;
        }
        .body-container {
            min-height: calc(100vh - 60px);
        }
        #mainPage {
            min-height: 100vh;
        }
        .grid {
            grid-template-columns: auto;
            grid-template-rows: 0px auto;
            margin: auto;
            padding: 20px;
        }

        .grid-item > img {
            visibility: hidden;
            height: 0;
            width: 0;
            padding: 0;
        }
    }

    @@media (max-width: 768px) {
        .horizontal-line {
            width: 400px;
        }
    }

    @@media (max-width: 576px) {
        .horizontal-line {
            width: 300px;
        }
    }

    @@media (max-height: 790px) {
    }
</style>

<div id="mainPage" class="body-container" alt="Chiropractor Dr. Kayla Jentes-Sagester adjusting a child's knee with an activator at Brio Wellness Center using activator methods" title="Dr. Kayla adjusting child's knee with activator at Brio Wellness Center">
    <div>
        <ul class="mainPage">
            <li>
                <p class="larger-text">Live the life you<br /><b>DESIRE</b> and <b>DESERVE</b></p>
            </li>
            <li>
                <hr class="horizontal-line">
            </li>
            <li>
                <div class="small-text">Chiropractic & Nutrition</div>
            </li>
            <li><a target="_blank" class="white-button" href="https://briowellness.janeapp.com/"><div class="smaller-text">Book Now</div></a></li>
        </ul>
    </div>
</div>
<div class="body-container">
    <div class="grid">
        <div class="grid-item">
            <img class="image-oval" src="~/Images/dr-kayla-checking-child-spine-alignment-activator-methods.jpg" alt="Dr. Kayla Jentes-Sagester evaluating a child's spine alignment using activator methods to relieve pain at Brio Wellness Center" title="Dr. Kayla checking child’s spine alignment with activator methods" />
        </div>
        <div class="grid-item">
            <ul>
                <li>
                    <h1 class="small-text green" style="text-align: left; margin-bottom: 20px;">Discover a path to wellness that is uniquely yours.</h1>
                </li>
                <li>
                    <p class="smaller-text text" style="text-align: left">Brio Wellness Center is a <em>woman-owned</em> wellness clinic dedicated to offering <b>top-tier</b> chiropractic care and <b>holistic health services</b> for individuals committed to their <em>personal growth</em>. Our focus lies in a <em>holistic approach to health</em>, blending <em>natural remedies</em> seamlessly into daily life.</p>
                </li>
                <li>
                    <p class="smaller-text text" style="text-align: left">What distinguishes us is our belief that chiropractic care transcends mere spinal treatment—it's about <b>nurturing</b> the complete individual. Your mindset, <b>enriched</b>. Your physical well-being, <b>enhanced</b>. Because true health comes from <em>embracing your utmost potential</em>, ensuring you <em>live life to its fullest capacity.</em></p>
                </li>
                <li>
                    <a target="_blank" class="green-button" href="https://briowellness.janeapp.com/"><div class="smaller-text">Learn More</div></a>
                </li>
            </ul>
        </div>

    </div>
</div>
