@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .body-div {
        background-image: url('Images/IMG_5654.jpg');
    background-repeat: no-repeat;

    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(255,165,50,.2);
    }

    .body-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        width: 100%;
        position: relative;
        padding: 0;
    }

    .section,
    .columnA,
    .columnB {
        flex: 1;
        padding: 0;
    }

    .logo {
        width: 100px;
        margin: 0;
    }

    .large-text,
    .small-text {
        font-family: 'Roca One';
        line-height: 1;
        color: white;
    }

    .large-text {
        font-size: 120px;
    }

    .small-text {
        font-size: 50px;
    }

    .text-box {
        width: 80%;
        margin: 0;
        color: white;
        font-family: Montserrat;
    }

    .horizontal-line {
        border-top: 5px solid #ffffff;
        width: 1000px;
        margin: 0;
        opacity: 1;
    }

    .button {
        display: inline-block;
        padding: 5px 15px;
        background-color: transparent;
        color: white;
        font-weight: bold;
        border: solid 5px;
        font-size: 36px;
        cursor: pointer;
        margin-top: 20px;
    }
    
    .grid-item{
        align-items: center;
        justify-content: center;
    }

    li{
        justify-content: center;
        align-content: center;
        display: flex;
    }

    ul{
        padding: 0;
        margin:0;
        padding: 10px;
    }

    @@media (max-width: 1700px) {
        .large-text {
            font-size: 80px;
        }
        .horizontal-line {
            width: 700px;
        }

        .small-text {
            font-size: 40px;
        }
        .button {
            font-size: 28px;
        }
    }

    @@media (max-width: 1200px) {
        .large-text {
            font-size: 75px;
        }
        .horizontal-line {
            width: 600px;
        }

        .small-text {
            font-size: 36px;
        }
        .button {
            font-size: 24px;
        }
    }

    @@media (max-width: 992px) {
        .large-text {
            font-size: 70px;
        }
        .horizontal-line {
            width: 500px;
        }

        .body-container {
            min-height: calc(100vh - 60px);
        }

        .small-text {
            font-size: 32px;
        }
        .button {
            font-size: 20px;
        }

    }

    @@media (max-width: 768px) {
        .large-text {
            font-size: 54px;
        }
        .horizontal-line {
            width: 400px;
        }

        .small-text {
            font-size: 28px;
        }
        .button {
            font-size: 16px;
        }
    }


    @@media (max-width: 576px) {
        .large-text {
            font-size: 45px;
        }
        .horizontal-line {
            width: 300px;
        }

        .small-text {
            font-size: 24px;
        }
        .button {
            font-size: 14px;
        }
    }

</style>

<div class="body-container">
            <div class="grid-item">
                <ul>
                    <li>
                        <p class="large-text">Live the life you<br/>DESIRE and DESERVE</p>
                    </li>
                    <li>
                        <hr class="horizontal-line">
                    </li>
                    <li>
                        <div class="small-text">Chiropractic & Nutrition</div>
                    </li>
                    <li><button class="button ">Book Now</button></li>
                </ul>
    </div>
</div>
