@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .body-div {
        background: url('Images/Home/home_page_background.png') center / cover;
    }

    .body-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: calc(100vh - 60px);
        width: 100%;
        position: relative;
        padding: 0 20%;
    }

    .section,
    .columnA,
    .columnB {
        flex: 1;
        padding: 0;
    }

    .logo {
        width: 100px;
        margin: 0;
    }

    .large-text,
    .small-text {
        font-family: 'Roca One';
        line-height: 1;
        color: white;
    }

    .large-text {
        font-size: 120px;
    }

    .small-text {
        font-size: 50px;
    }


    .smaller-text {
        font-size: 28px;
    }

    .text-box {
        width: 80%;
        margin: 0;
        color: white;
        font-family: Montserrat;
    }

    .horizontal-line {
        border-top: 5px solid #ffffff;
        width: 75%;
        margin: 0;
        opacity: 1;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #f3ddcb;
        color: #19603b;
        font-weight: bold;
        border: none;
        border-radius: 50px;
        font-size: 18px;
        cursor: pointer;
    }

    .grid-container {
        display: grid;
        gap: 0px;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
    }

    .section{
        display: flex;
        width: 100%;
    }
    
    .grid-item{
        align-items: center;
        justify-content: center;
    }

    li{
        justify-content: center;
        align-content: center;
        display: flex;
    }

    ul{
        padding: 0;
        margin:0;
    }

    @@media (max-width: 1700px) {

        .body-container {
            padding: 0 10%;
        }

    }
    @@media (max-width: 1200px) {
        .large-text {
            font-size: 100px;
        }

        .small-text {
            font-size: 40px;
        }

        .smaller-text {
            font-size: 24px;
        }

        .logo {
            width: 90px;
        }
    }

    @@media (max-width: 992px) {
        .large-text {
            font-size: 80px;
        }

        .small-text {
            font-size: 30px;
            margin-bottom: 30px;
        }

        .smaller-text {
            font-size: 20px;
        }

        .logo {
            width: 70px;
        }

        .grid-container {
            grid-template-columns: auto;
        }

        .grid-item{
            width:100%;
        }

        .horizontal-line {
            width: 50%;
        }

    }

    @@media (max-width: 768px) {
        .large-text {
            font-size: 70px;
        }

        .small-text {
            font-size: 25px;
        }

        .smaller-text {
            font-size: 18px;
        }

        .horizontal-line {
            width: 75%;
        }
    }


    @@media (max-width: 576px) {
        .large-text {
            font-size: 60px;
        }

        .small-text {
            font-size: 25px;
        }

        .smaller-text {
            font-size: 14px;
        }
    }

</style>

<div class="body-container">
    <div class="section">
        <div class="grid-container">
            <div class="grid-item">
                <ul>
                    <li><img src="Images/Brio-Flower.png" alt="Brio Wellness Center Logo" class="logo"></li>
                    <li>
                        <p class="large-text">Brio<br /> Wellness<br />Center</p>
                    </li>
                    <li><hr class="horizontal-line"></li>
                    <li>
                        <div class="small-text">Chiropractic<br />& Nutrition</div>
                    </li>
                </ul>
            </div>
            <div class="grid-item">
                <ul>
                    <li>
                        <p class="text-box smaller-text">Your health &ndash; spiritual, emotional, physical, and mental &ndash; is directly proportional to your happiness. Our doctors provide you with the tools you need to radically transform your health, freeing you to live the abundant life you deserve!</p>
                    </li>
                    <li>
                        <br />
                    </li>
                    <li><button class="button smaller-text ">OUR SERVICES &rarr;</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
