@page
@model BrioWebsite.Pages.Index1Model
@{
}

<style>
    #planSections {
        padding-top: 80px;
        display: grid;
        justify-content: top;
        font-family: roca one;
        background-image: url('Images/Brio.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(242, 220, 189, .7);
    }

    .card-section,
    .text-section {
        height: 100%;
        color: #301607;
    }

    .text-section p {
        font-family: montserrat;
        padding: 10px 15vw;
    }

    .card-list {
        justify-content: center;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: top;
        border-radius: 2vw;
        background-color: #fff6ec;
        padding: 10px;
        margin: 10px 2vw;
        color: #301607;
        width: 400px;
        height: 400px;
        text-decoration: none;

        display: grid;
        grid-template-rows: 25% 8% 12% auto 13%;
    }

    .card > *{
        margin-left: auto;
        margin-right: auto;
    }

    .card-button {
        padding: 15px;
        border: 0;
        border-radius: 50px;
        width: 220px;
        height: 50px;
        line-height: 1;
        justify-content: center;
        background-color: #f2ddcb;
        font-family: roca one;
        color: #301607;
    }

    .card-button > div{
        display: flex;
        justify-content:center;
    }

    .card ul {
        font-family: montserrat;
        text-align: left;
        width: 90%;
        height: 150px;
        font-size: 18px;
    }

    .card-title,
    .card-subtitle,
    .card-price {
        margin: 0;
        color: #16603b;
        font-weight: 100;
    }

    .card-title {
        font-size: 36px;
        line-height: 40px;
        font-weight: 500;
    }

    .card-subtitle {
        font-size: 22px;
        line-height: 40px;
    }

    .card-price {
        font-size: 40px;
        line-height: 50px;
        width: 85%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .small-text {
        padding: 10px 50px 30px 50px;
    }

    @@media (max-width: 1350px) {
        .card-list {
            grid-template-columns: auto auto;
        }
    }

    @@media (max-width: 1000px) {
        .card-list {
            grid-template-columns: auto auto;
        }

        .card {
            width: 300px;
            height: 300px;
        }

        .card-title {
            font-size: 28px;
            line-height: 25px;
        }

        .card-subtitle {
            font-size: 18px;
            line-height: 25px;
        }

        .card-price {
            font-size: 30px;
            line-height: 40px;
        }

        .card-button {
            padding: 15px;
            border-radius: 50px;
            width: 150px;
            height: 45px;
            line-height: 1;
        }

        .card ul {
            font-family: montserrat;
            text-align: left;
            width: 95%;
            height: 110px;
            font-size: 14px;
        }
    }

    @@media (max-width: 650px) {
        .card-list {
            grid-template-columns: auto;
        }

        .card {
            width: 300px;
            height: 300px;
        }

        .card-title {
            font-size: 28px;
            line-height: 25px;
        }

        .card-subtitle {
            font-size: 18px;
            line-height: 25px;
        }

        .card-price {
            font-size: 30px;
            line-height: 40px;
        }

        .card-button {
            padding: 15px;
            border-radius: 50px;
            width: 150px;
            height: 35px;
            line-height: 0;
        }

        .card ul {
            font-family: montserrat;
            text-align: left;
            width: 95%;
            height: 100px;
            font-size: 14px;
        }
    }
</style>

<div id="planSections" class="body-container">
    <div class = "text-section">
        <h1 class = "large-text">Chiropractic Packages & Care Plans</h1>
        <p class = "small-text">Schedule a <b>free</b> 15-minute consultation with one of our doctors to determine which plan is best for you!</p>
        <a target="_blank" class="green-button" href="https://briowellness.janeapp.com/"><div class="smaller-text">Schedule Now</div></a>
    </div>
    <div class = "card-section">
        <ul class = "card-list">
            <li class = "card">
                <div class = "card-title">Chiropractic Appointment</div>
                <div class = "card-subtitle">New Patient</div>
                <div class = "card-price">$120+</div>
                <ul>
                    <li>Chiropractic Adjustments</li>
                    <li>New Patient Exam</li>
                    <li>Initial Nutrition Consult</li>
                    <li>Standard Bloodwork</li>
                    <li>ZytoScan</li>
                </ul>
                <a target="_blank" class="card-button white-button" href="https://briowellness.janeapp.com/"><div class="smaller-text">Schedule Now</div></a>
            </li>
            <li class = "card">
                <div class = "card-title">Chiropractic Adjustments</div>
                <div class = "card-subtitle"></div>
                <div class = "card-price">$68 a visit</div>
                <ul>
                    <li>Chiropractic Adjustments</li>
                    <li>Red Light Therapy</li>
                    <li>Brain Tap Therapy</li>
                    <li>PEMF Therapy</li>
                    <li>Message Chair</li>
                </ul>
                <a target="_blank" class="card-button white-button" href="https://briowellness.janeapp.com/"><div class="smaller-text">Schedule Now</div></a>
            </li>
            <li class = "card">
                <div class = "card-title">Brio Bundle</div>
                <div class = "card-subtitle"></div>
                <div class = "card-price">$75 a visit</div>
                <ul>
                    <li>Chiropractic Adjustments</li>
                    <li>Advantage Program offerings</li>
                    <li>Brio Bundle Offerings</li>
                </ul>
                <a target="_blank" class="card-button white-button" href="https://briowellness.janeapp.com/"><div class="smaller-text">Schedule Now</div></a>
            </li>
        </ul>
    </div>
</div>