@page
@model BrioWebsite.Pages.Index1Model
@{
    ViewData["Title"] = "Plans";
}

<style>
    #planSections {
        padding: 80px 0px;
        display: grid;
        justify-content: top;
        font-family: roca one;
        background-image: url('Images/brio-wellness-center-aesthetic-branding.webp');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(242, 220, 189, .7);
    }

    .card-section,
    .text-section {
        height: 100%;
        color: #301607;
    }

    .text-section p {
        font-family: montserrat;
        padding: 10px 15vw;
    }

    .card-list {
        justify-content: center;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: top;
        border-radius: 2vw;
        background-color: #fff6ec;
        padding: 10px;
        margin: 10px 2vw;
        color: #301607;
        width: 400px;
        height: 400px;
        text-decoration: none;

        display: grid;
        grid-template-rows: 20% 8% auto 3% 100%;
    }

    .card > *{
        margin-left: auto;
        margin-right: auto;
    }

    .card-subheader{
        margin-top: 20px;
    }

    .card-button {
        padding: 15px;
        border: 0;
        border-radius: 50px;
        width: 220px;
        height: 50px;
        line-height: 1;
        justify-content: center;
        background-color: #f2ddcb;
        font-family: roca one;
        color: #301607;
    }

    .card-button > div{
        display: flex;
        justify-content:center;
    }

    .card ul {
        font-family: montserrat;
        text-align: left;
        width: 90%;
        height: 90%;
        font-size: 16px;
    }

    .card-title,
    .card-subtitle{
        margin: 0;
        color: #16603b;
        font-weight: 100;
    }

    .card-title {
        font-size: 36px;
        line-height: 40px;
        font-weight: 500;
    }

    .card-subtitle {
        font-size: 22px;
        line-height: 40px;
    }

    .small-text {
        padding: 10px 50px 30px 50px;
    }

    .card-section > h1{
        padding-top: 50px;
    }
    
    .subtitle{
        font-size: 60px;
    }

    @@media (max-width: 1850px) {
        .card-list2 {
            grid-template-columns: auto auto;
        }
    }

    @@media (max-width: 1350px) {
        .card-list {
            grid-template-columns: auto auto;
        }

        .card-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            justify-items: center;
            align-items: center;
        }

        .center {
            grid-column: 1 / -1;
            justify-self: center;
        }

        .left {
            justify-self: right;
        }

        .right {
            justify-self: left;
        }

        .subtitle {
            font-size: 50px;
        }
    }

    @@media (max-width: 1000px) {
        .card-list {
            grid-template-columns: auto auto;
        }

        .card {
            width: 350px;
            height: 350px;
        }

        .card-title {
            font-size: 28px;
            line-height: 25px;
        }

        .card-subtitle {
            font-size: 18px;
            line-height: 25px;
        }

        .card-button {
            padding: 15px;
            border-radius: 50px;
            width: 150px;
            height: 45px;
            line-height: 1;
        }

        .card ul {
            font-family: montserrat;
            text-align: left;
            width: 95%;
            font-size: 13px;
        }

        .subtitle {
            font-size: 40px;
        }
    }

    @@media (max-width: 780px) {
        .card-list {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }

        .card {
            width: 350px;
            height: 350px;
        }

        .card-title {
            font-size: 28px;
            line-height: 25px;
        }

        .card-subtitle {
            font-size: 18px;
            line-height: 25px;
        }

        .card-button {
            padding: 15px;
            border-radius: 50px;
            width: 150px;
            height: 35px;
            line-height: 0;
        }

        .card ul {
            font-family: montserrat;
            text-align: left;
            width: 95%;
            font-size: 12px;
        }

        .subtitle {
            font-size: 30px;
        }
    }

</style>

<div id="planSections" class="body-container" alt="Aesthetic image enhancing Brio Wellness Center's branding with a focus on holistic wellness and chiropractic care" title="Brio Wellness Center aesthetic branding image">
    <div class = "text-section">
        <h1 class = "large-text">Chiropractic Packages & Care Plans</h1>
        <p class = "small-text">Schedule a <b>free</b> 15-minute consultation with one of our doctors to determine which plan is best for you!</p>
        <a target="_blank" class="green-button" href="https://briowellness.janeapp.com/"><div class="smaller-text">Schedule Now</div></a>
    </div>
    <div class = "card-section">
        <h1 class="subtitle"></h1>
        <ul class="card-list">
            <li class="card left">
                <div class="card-title">New Patient Appointment</div>
                <div class="card-subtitle">$400 value for $250</div>
                <ul>
                    <li>Your first chiropractic adjustment</li>
                    <li>Thorough history and exam</li>
                    <li>Comprehensive ZYTO scan</li>
                </ul>
                <div class="card-subheader">If recommended:</div>
                <ul>
                    <li>Hot and cold therapies</li>
                    <li>Therapeutic exercises or postural recommendations</li>
                    <li>Supplement and dietary recommendations</li>
                    <li>X-rays (additional cost of $40 per region)</li>
                </ul>
            </li>
            <li class="card right">
                <div class="card-title">Chiropractic Adjustments</div>
                <div class="card-subtitle">$68 a visit</div>
                <ul>
                    <li>Your chiropractic adjustment</li>
                </ul>
                <div class="card-subheader">If recommended:</div>
                <ul>
                    <li>Hot and cold therapies</li>
                    <li>Therapeutic exercises or postural recommendations</li>
                    <li>Supplement and dietary recommendations</li>
                </ul>
            </li>
            <li class="card center">
                <div class="card-title">Brio Bundle</div>
                <div class="card-subtitle">$75 a visit</div>
                <ul>
                    <li>Your chiropractic adjustment</li>
                </ul>
                <div class="card-subheader">If recommended:</div>
                <ul>
                    <li>Hot and cold therapies</li>
                    <li>Therapeutic exercises or postural recommendations</li>
                    <li>Supplement and dietary recommendations</li>
                    <li>PLUS the option to include up to 30 minutes of the following therapies:</li>
                    <li>Deluxe massage chair, PEMF therapy, BrainTap, RedLight therapy</li>
                </ul>
            </li>
        </ul>

        <h1 class="subtitle">Advantage Programs</h1>
        <ul class="card-list card-list2">
            <li class="card left">
                <div class="card-title">Individual Advantage Plan</div>
                <div class="card-subtitle">Price Varies</div>
                <ul>
                    <li>20% off most treatment types</li>
                    <li>10% off all products, supplements, & blood labs</li>
                    <li>Pay the annual price for your care in 12 equal monthly installments.</li>
                </ul>
            </li>
            <li class="card right">
                <div class="card-title">Group Advantage Plan</div>
                <div class="card-subtitle">Price Varies</div>
                <ul>
                    <li>Unlimited Household Members</li>
                    <li>20% off most treatment types</li>
                    <li>10% off all products, supplements, & blood labs</li>
                    <li>Pay the annual price for your family’s care in 12 equal monthly installments.</li>
                </ul>
            </li>
            <li class="card left">
                <div class="card-title">Unlimited Family Advantage Plan</div>
                <div class="card-subtitle">$299/month</div>
                <ul>
                    <li>Unlimited Household Members</li>
                    <li>Unlimited Adjustments</li>
                    <li>Free New Patient Exams & Re-Exams</li>
                    <li>10% off all products, supplements, & blood labs</li>
                </ul>
            </li>
            <li class="card right">
                <div class="card-title">Unlimited Family Advantage Plan+</div>
                <div class="card-subtitle">$449/month</div>
                <ul>
                    <li>Unlimited Household Members</li>
                    <li>Unlimited Adjustments</li>
                    <li>Free New Patient Exams & Re-Exams</li>
                    <li>10% off all products, supplements, & blood labs</li>
                    <li>Unlimited Therapies (Deluxe Massage Chair, PEMF therapy, BrainTap, and RedLight therapy)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>