<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Brio Wellness Center Website - @ViewData["Title"]
    Providing Holistic Chiropractic care to Johnston County NC and North Raleigh NC" />
    <title>@ViewData["Title"] - Brio Wellness Center</title>
    <link rel="icon" href="~/Images/Brio-Flower.png">
    <link lazyLoad async rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link lazyLoad async rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link lazyLoad async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WWPTQCWZ');</script>
<!-- End Google Tag Manager -->

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWPTQCWZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
        <!-- This navbar will be displayed on large screens and up -->
        <nav class="d-lg-flex" id="navbarLargeScreen">
            <div class="navbar-title">
                <img alt="Logo" src="~/Images/favicon.png" />
                <a asp-area="" asp-page="/Index">Brio Wellness Center</a>
            </div>
            <div id="navbar-nav" class="ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Plans">CARE PLANS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/About">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-link" href="#footer">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- This navbar will be displayed on screens smaller than large -->
        <nav class="navbar navbar-light bg-light d-lg-none" id="navbarSmallScreen">
            <div class="navbar-title">
                <img alt="Logo" src="~/Images/Brio-Flower.png" />
                <a asp-area="" asp-page="/Index">Brio Wellness Center</a>
            </div>
            <button class="open" id="sideMenuOpenButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"></button>
        </nav>
    </header>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <button class="close" id="SideMenuCloseButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"></button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Plans">CARE PLANS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/About">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="contact-link" href="#footer">CONTACT</a>
            </li>
        </ul>
    </div>

    <div class="body-div">
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="footer-section">
            <div class="footer-title">ADDRESS</div>
            <div class="footer-content">Selma Office<br>
                <a target="_blank" href="https://maps.app.goo.gl/zon2EcUHLjK7kgdr8" target="_blank">805 N Pollock St. Selma, NC 27576</a>
            </div>
            <div class="footer-content">Raleigh Office<br>
                <a target="_blank" href="https://maps.app.goo.gl/caNWLhK5XW4RzRye8" target="_blank">184 Wind Chime Ct. Suite 202, Raleigh, NC 27615</a><br>
                <div>[Appointment Only]</div>
            </div>
        </div>

        <div class="footer-section">
            <div class="footer-title">HOURS</div>
            <div class="footer-content">Monday:<br>2:00 pm - 6:00 pm</div>
            <div class="footer-content">Tuesday - Thursday:<br>10:00 am - 6:00 pm</div>
            <div class="footer-content">Friday:<br>10:00 am - 1:00 pm</div>
            <div class="footer-content">Saturday & Sunday:<br>Closed</div>
        </div>

        <div class="footer-section">
            <div class="footer-title">CONTACT</div>
            <div class="footer-content">Phone: (919) 351-5787</div>
            <div class="footer-content">Fax: (919) 842-5649</div>
            <div class="footer-content">Email: <a href="mailto:info@briowellness.com">info@briowellness.com</a></div>
            <a target="_blank" class="icon footer-content fa fa-instagram" href="https://www.instagram.com/briowellness/"><div>Instagram</div></a>
            <a target="_blank" class="icon footer-content fa fa-facebook" href="https://www.facebook.com/BrioWellness/"><div>Facebook</div></a>
        </div>   
    </footer>

    <script async src="~/lib/jquery/dist/jquery.min.js"></script>
    <script async src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('#contact-link').forEach(function(contactLink) {
                contactLink.addEventListener('click', function (event) {
                    event.preventDefault();
                    const offcanvasElement = document.getElementById('offcanvasNavbar');
                    const offcanvasInstance = bootstrap.Offcanvas.getInstance(offcanvasElement);
                    
                    if (offcanvasInstance) {
                        offcanvasInstance.hide();
                        offcanvasElement.addEventListener('hidden.bs.offcanvas', function () {
                            window.location.href = event.target.href;
                        }, { once: true });
                    } else {
                        window.location.href = event.target.href;
                    }
                });
            });
        });
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
