@font-face {
    font-family: 'Roca One';
    src: url(../Fonts/roca-one-regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

.image-oval{
    border-radius: 50%;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color: #fff6ec;
}

#navbarLargeScreen {
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background-color: transparent;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1000
}

#navbarSmallScreen {
    padding: 5px 2%;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.offcanvas{
    float: right;
}

.navbar-title {
    text-decoration: none;
    display: flex;

    align-items: center;
    width:fit-content;
}

.navbar-title > a {
    font-family: 'Roca One';
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    color: #301607;
    line-height: 32px;
    text-align: center;
    display: flex;
    vertical-align: middle;
}

.navbar-title > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    vertical-align: middle;
}

.nav-item {
    justify-content: right;
    font-weight: 800;
}

#SideMenuCloseButton {
    margin-left: auto;
    margin-bottom: 15px;
    opacity: 1;
    border: 0px;
}

.navbar-toggler-icon{
    border-color: red;
}

#navbar-nav {
    font-family: Montserrat;
    display: flex;
    align-items: center;
    font-weight: 500;
}

#navbar-nav ul,
#navbar-nav li,
#navbar-nav a {
    display: inline;
}

#navbar-nav a {
    font-size: 20px;
    color: black;
    color: #301607;
    padding: .3vw;
}

/*
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/


.hamburger {
    display: none; /* Hidden by default */
    /* Other styles */
}

.navbar-brand {
    font-family: 'Roca One';
    margin-right: 0px;
    font-size: 36px;
    color: black;
    text-decoration: none;
}

#navbarNav {
    font-family: Montserrat;
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
}

#navbarNav ul {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#navbarNav ul li {
    padding: 0 10px;
    justify-content: end;
}
.hamburger-icon {
    /* Styles for the hamburger icon */
}


#offcanvasNavbar > ul > li {
    justify-content: right;
    display: flex;
}

#offcanvasNavbar > ul {
    padding: 0;
    margin: 0;
}

/* Style for the footer */
#footer {
    background-color: #f6eadc;
    color: #301607;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    justify-content: center;
    left: 0;
    width: 100%;
    padding: 30px 0;
}

    #footer h1,
    #footer h2,
    #footer h3,
    #footer h4,
    #footer h5,
    #footer h6 {
        color: #301607;
        font-weight: 700;
        font-size: 24px;
    }

    #footer a {
        color: #301607;
    }

@media (max-width: 992px) {
    #navbarLargeScreen{
        visibility:hidden;
    }
    .navbar-title > a {
        font-size: 26px;
    }
    .navbar-title > img {
        width: 40px;
        height: 40px;
    }
    #footer {
        grid-template-columns: auto;
        justify-content: left;
        text-align: left;
        padding: 20px;
    }

    #footer h1,
    #footer h2,
    #footer h3,
    #footer h4,
    #footer h5,
    #footer h6 {
        font-size: 18px;
    }

    .section-content {
        font-size: 14px;
    }
    .vertical-section{
        padding: 10px;
    }
}

#sideMenuOpenButton {
    border: 0px;
}

#offcanvasNavbar > ul{
    margin-top: 45px;
}


.open, .close {
    position: absolute;
    opacity: 1;
    background-color: transparent;
    width: 32px;
    height: 32px;

    right: 1vh;
    top: 15px;
}
.open:before, .open:after,
.close:before, .close:after {
    position: absolute;
    
    right: 15px;
    top: 0px;

    content: '';
    height: 33px;
    width: 2px;
    background-color: black;
}

.open:before {
    translate: 0px 5px;
    transform: rotate(-90deg);
}

.open:after {
    translate: 0px -5px;
    transform: rotate(-90deg);

}


.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}




.larger-text,
.large-text,
.small-text {
    font-family: 'Roca One';
    line-height: 1;
}

.larger-text {
    font-size: 120px;
}

.large-text {
    font-size: 90px;
}

.small-text {
    font-size: 50px;
}

.smaller-text {
    font-size: 26px;
}


@media (max-width: 2000px) {
    .smaller-text {
        font-size: 24px;
    }
}

@media (max-width: 1700px) {
    .larger-text {
        font-size: 80px;
    }
    .large-text {
        font-size: 70px;
    }

    .small-text {
        font-size: 40px;
    }

    .smaller-text {
        font-size: 22px;
    }
}

@media (max-width: 1200px) {
    .larger-text {
        font-size: 75px;
    }
    .large-text {
        font-size: 60px;
    }

    .small-text {
        font-size: 36px;
    }

    .smaller-text {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .larger-text {
        font-size: 70px;
    }
    .large-text {
        font-size: 45px;
    }

    .small-text {
        font-size: 32px;
    }

    .smaller-text {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .larger-text {
        font-size: 54px;
    }
    .large-text {
        font-size: 40px;
    }

    .small-text {
        font-size: 28px;
    }

    .smaller-text {
        font-size: 16px;
    }
}


@media (max-width: 576px) {
    .larger-text {
        font-size: 45px;
    }
    .large-text {
        font-size: 35px;
    }

    .small-text {
        font-size: 24px;
    }

    .smaller-text {
        font-size: 14px;
    }
}