<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\BrioWebsite.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect www to non-www" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www\.briowellness\.com$" />
					</conditions>
					<action type="Redirect" url="https://briowellness.com/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="redirect" stopProcessing="true">
					<match url=".*signups" />
					<action type="Redirect" url="https://briowellness.janeapp.com/locations/brio-wellness-center/book#/discipline/7/treatment/33" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
<!--ProjectGuid: 37cce6af-21e8-4866-8b40-6cc7749180e2-->